%h2.section Details
%h3 Description
%p
  = repository.description
%h3 Categories
%p
  = repository.categories.to_sentence
%h3 Long Description
%p
  = repository.long_description
%h2.section Project Needs
%h2.section Team