%div.statistics.span-8
  %div.statistic
    %div.span-1
      = image_tag("medicalreport.png")
    %div.span-7.last
      %p
        This project has 
        %strong
          [##] forks
        and 
        %strong
          [##] watchers.
        It has 
        %strong
          [##] commits
        and was last updated on 
        %strong
          [##/##/####].
  %div.statistic
    %div.span-1
      = image_tag("firstaidkit.png")
    %div.span-7.last
      %p 
        This project appears to be
        %strong
          healthy
        based on commits, activity, forks, watchers, and other metadata gathered over the last month.