%div.statistic
  %div.span-1
    = image_tag("medicalreport.png")
  %div.span-7.last
    %p
      This project has 
      %strong
        [##] forks
      and 
      %strong
        [##] watchers.
      It has 
      %strong
        [##] commits
      and was last updated on 
      %strong
        [##/##/####].
%div.statistic
  %div.span-1
    = image_tag("firstaidkit.png")
  %div.span-7.last
    %p Some canned text that is associated to the corresponding health image which changes based on the score.