%div.statistic.span-12
  = image_tag("firstaidkit.png")
  %p Some canned text that is associated to the corresponding health image which changes based on the score.
%div.statistic.span-12.last
  = image_tag("medicalreport.png")
  %p
    This project has 
    %strong
      [##] forks
    and 
    %strong
      [##] watchers.
    It has 
    %strong
      [##] commits
    and was last updated on 
    %strong
      [##/##/####].