#issues-wrapper
  .tabs
    %ul
      - Repository::TAGS.each do |tag|
        %li.tag
          %a{href: user_repository_issues_path(@repository.owner, @repository.name, tag)}
            = tag.capitalize
  .issues
    - if @issues.nil? or @issues.empty?
      Sorry, can't find any #{@tag} issues to work on.
    - else
      = render partial: 'issue', collection: @issues, locals: { repository: @repository }
    
