:erb
  <h1>Repositories</h1>
  
  <table>
    <tr>
      <th>Name</th>
      <th>Categories</th>
      <th></th>
    </tr>
  
  <% @repositories.each do |repository| %>
    <tr>
      <td><%= repository.project_name %></td>
      <td>
        <% unless repository.categories.blank? %>
            <%= repository.categories.to_sentence %>
        <% end %>
      </td>
      <td><%= link_to image_tag("find.png"), repository %></td>
    </tr>
  <% end %>
  </table>
