/* colors */
/* images */
/* typography */
/* mixins */
/* globals */
body {
  background: url("../images/header.gif") repeat-x scroll 0 0 #f2f2f2;
  color: #222222; }
  body a {
    text-decoration: none;
    color: #006699; }
    body a:hover {
      color: #66ccff; }
  body form abbr {
    border-bottom: 0pt; }
  body form label {
    display: block; }
  body form input.text, body form input.title, body form textarea {
    width: 98%; }

/* header */
#header #logo {
  padding-top: 10px; }
  #header #logo img {
    float: left;
    margin-right: 15px; }
  #header #logo h1 {
    margin-top: 10px;
    font-size: 3em;
    font-weight: 700;
    font-family: "museo-1", "museo-2", serif; }
    #header #logo h1 a {
      text-decoration: none;
      color: #222222; }
    #header #logo h1 span {
      font-family: "bistro-script-web-1", "bistro-script-web-2", cursive;
      font-weight: normal;
      color: #006699; }
#header #main-navigation ul {
  margin-right: 0pt;
  margin-top: 23px;
  padding: 2px;
  float: right;
  list-style: none;
  height: 35px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px; }
  #header #main-navigation ul li {
    float: left;
    margin: 2px;
    display: block;
    text-align: center;
    z-index: 200;
    position: relative; }
    #header #main-navigation ul li a {
      padding: 6px 14px;
      text-decoration: none;
      color: #eeeeee;
      background-color: #222222;
      display: block;
      text-align: center;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -khtml-border-radius: 5px;
      border-radius: 5px; }

/* content - global */
#content {
  background: #FFFFFF;
  padding-top: 15px;
  padding-bottom: 30px; }
  #content .main-content {
    background: url("../images/main-content-background.png") repeat-y left;
    margin-right: 0pt; }
  #content .title {
    font-family: "museo-1", "museo-2", serif;
    font-weight: 200;
    color: #006699; }
  #content h3 {
    color: #222222;
    margin-bottom: .5em; }
  #content .section h2 {
    font-family: "museo-1", "museo-2", serif;
    font-weight: 200;
    color: #666666;
    background: #eeeeee;
    padding-left: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1); }

/* content - dashboard */
#content .repository {
  margin-bottom: 15px; }
  #content .repository .details {
    padding-left: 10px; }
    #content .repository .details p {
      margin-bottom: 5px; }

/* content - repository */
#content #repository .title {
  color: #cccccc; }
  #content #repository .title a {
    text-decoration: none; }
    #content #repository .title a.active {
      font-weight: 300; }
    #content #repository .title a.inactive {
      color: #cccccc; }
    #content #repository .title a:hover {
      color: #66ccff; }
#content #repository .section .role {
  padding-bottom: 20px; }
  #content #repository .section .role .requirements {
    list-style: none;
    padding-left: 0pt; }
#content #repository .statistic, #content #repository .issue-type {
  margin-bottom: 30px;
  color: #222222; }

/* footer */
#footer {
  background: url("../images/footerhead.jpg") repeat-x scroll 0 0 #f2f2f2;
  margin-bottom: 40px; }
  #footer #footer-container {
    padding-top: 20px; }
    #footer #footer-container #footer-navigation a {
      padding: 0pt 7px; }
